:root{
    --celeste-principal: #5499F8;
    --borde-azul: #2981FF;
    --sombra-azul: #02187E;
    --fuente-azul: #02187E;
    --amarillo: #FFE901;
    --blanco: #FFFFFF; 

    --rojo-principal: #f00509;
    --sombra-rojo: #7c1f14;
}


body{
    height: fit-content;
    max-width: 100vw;
    font-family: Lato;
}


#section1{
    background-color: var(--celeste-principal);
    
    
}
#contenedor-spider{
    width: 1280px;
    margin: 0 auto;
    max-width: 1280px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 4ms, transform 0.8s;
}
.contenedor-edificios{
    /*width: 1280px;*/
    margin: 0 auto;
    max-width: 1280px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 4ms, transform 0.7s;
}
.contenedor-edificios.visible {
    position: relative;
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

#contenedor-spider.visible {
    position: relative;
    opacity: 1;
    transform: scale(1);
    z-index: 6;
}


.container{
    width: 1080px;
    max-width: 1080px;
}
   
#contenedor-spider{
    width: 100%;
    height: 4px;
    display: flex;
    margin-bottom: auto;
    
}





 #keyart-1{
    position: absolute;
    height: 720px;
    width: 1280px;
    margin: 0 auto;
    background-image: url(../img/edificiosSuscripcion2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    
    
}


 #spider1 , #spider2, #spider3{
    background-size: cover;
   
}

#spider1{
    transform: translateY(216px) translateX(117px);
    Width:360px;
    Height: 444px;
    z-index: 600;
}
    

#spider2{
    z-index: 600;
    width: 465px;
    height: 465px;
    transform: translate3d(32px, 252px,0px);
    
   
 
}
#tela1{
    z-index: 600;
    width: 557.82px;
    Height: 627.27px;
    transform: translate3d(-825px, 256px,-5px);
}
#spider3{
    z-index: 600;
    width: 393px;
    height: 393px;
    transform: translate3d(-627px, 230px, 0px);
   
}
#tela2{
    z-index: 600;
    Width: 256.66px;
    Height: 372.44px;
    transform: translate3d(-735px, 285px, 0px);

}


#pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



