div.card{
    padding: 2px;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    transition: filter var(--tiempo-t-0) ease-in-out, transform var(--tiempo-t-2) ease-in-out;
}

.card:hover{
    filter: drop-shadow(var(--acento) 0px 8px  2px);
    transform: scale(1.02);
    cursor:pointer;
}

div.card img{
    object-fit: cover;
    width: 100%;
}

div.card h4{
    background-color: var(--s-sombra-1);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
}


div.card div.estado-juego{
    width: calc(100% - 18px);
    padding: 6px 9px;
    background-color: var(--p-transparencia-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.card div.estado-juego span{
    border-radius: 5px;
    padding: 3px 19px;
    font-size: 18.4px;
    transition: background-color var(--tiempo-t-2);
}

.precio{
    background-color: var(--color-secundario);
    color: var(--p-luz-1);
}

div.card div.estado-juego span.agregar-juego{
    padding: 3px 9px;
    font-size: 21.15px;
}

.agregar-juego{
    background-color: var(--fondo-gratis);
}

.gratis{
    background-color: var(--fondo-gratis);
    color: var(--fuente-clara);
    margin: 0px auto;
}

.jugar{
    color: var(--fuente-clara);
    background-color: var(--fondo-jugar);
    margin: 0px auto;
}

.agregar-juego:active{
    background-color: var(--a-sombra-1);
}

.gratis:active{
    background-color: var(--acento);
}

.jugar:active{
    background-color: var(--acento);
}

div.card div.estado-juego span.span-out{
    display: none;
}

@media only screen and (min-width: 768px) {
    .agregar-juego:hover{
        background-color: var(--a-sombra-1);
    }

    .gratis:hover{
        background-color: var(--acento);
    }

    .jugar:hover{
        background-color: var(--acento);
    }

    .slide {
        min-width: 0px;
        width: calc(15vw - 24px);
        height: calc((15vw - 24px) * 1.1751);
        max-width: 97%;
    }

    .slide img{
        height: inherit;
    }

    .slide h4{
        padding: 1px 0px;
    }
    

}