@media only screen and (min-width: 768px) {

    div.card{
        padding: 2px;
        background-color: var(--color-secundario);
        display: flex;
        flex-direction: column;
        transition: filter var(--tiempo-t-0) ease-in-out, transform var(--tiempo-t-2) ease-in-out;
        
    }

    .card:hover{
        filter: drop-shadow(var(--acento) 0px 8px  2px);
        transform: scale(1.02);
        cursor:pointer;
    }

    div.card img{
        object-fit: cover;
        height: 11.5rem;
        width: 100%;
    }

    div.card h4{
        background-color: var(--s-sombra-1);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 4px;
    }

    div.card div.estado-juego{
        width: calc(100% - 18px);
        padding: 6px 9px;
        background-color: var(--p-transparencia-1);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div.card div.estado-juego span{
        border-radius: 5px;
        padding: 3px 19px;
        font-size: 18.4px;
        transition: background-color var(--tiempo-t-2);
    }

    .precio{
        background-color: var(--color-secundario);
        color: var(--p-luz-1);
    }

    div.card div.estado-juego span.agregar-juego{
        padding: 3px 9px;
        font-size: 21.15px;
    }

    .agregar-juego{
        background-color: var(--fondo-gratis);
    }

    .agregar-juego:hover{
        background-color: var(--a-sombra-1);
    }

    .gratis{
        background-color: var(--fondo-gratis);
        color: var(--fuente-clara);
        margin: 0px auto;
    }

    .gratis:hover{
        background-color: var(--acento);
    }

    .jugar{
        color: var(--fuente-clara);
        background-color: var(--fondo-jugar);
        margin: 0px auto;
    }

    .jugar:hover{
        background-color: var(--acento);
    }

}