#container {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 10px 0px;
  }
  
  #slider-container {
    box-sizing: border-box;
    height: fit-content;
    position: relative;
    overflow: hidden;
    /* padding: 0px 20px 20px 20px; */
    margin: 1px;
  }
  
  #container h3{
    margin-left: 30px;
  }

  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all 2s;
    padding-bottom: 10px;
    overflow-x: scroll;
  }
  
  #slider-container #slider .slide {
    /* height: 90%; */
    margin: auto 10px;
    transition: filter var(--tiempo-t-1), transform var(--tiempo-t-3);
  }

  
  .mov-izquierda{
    transform: skew(-15deg);
  }
  .mov-derecha{
    transform: skew(15deg);
  }

  #container img.btn{
    width: 55px;
    height: 55px;
  }

  #container #display{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .flecha{
    position: relative;
    margin: auto 0px;
    z-index: 1;
    transition: all var(--tiempo-t-2) ease-in-out;
    cursor: pointer;
    display: none;
  }

  .flecha:hover{
    filter: invert(100%) 
    drop-shadow(0px 0px 6px var(--fondo-jugar)) 
    drop-shadow(0px 0px 6px var(--fondo-jugar));
    transform: scale(1.2);
  }
  

  .flecha-out{
    opacity: 0;
  }


  @media only screen and (min-width: 768px) {
    #slider-container #slider div:nth-child(1){
      margin-left: 0px;
    }

    #slider-container #slider{
      overflow-x: unset;
    }

    
  }


  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(1.9% - 24px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }