#container {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    display: grid ;
    place-items: center
  }
  
  #slider-container {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* padding: 0px 20px 20px 20px; */
    margin: 1px;
  }
  
  #slider-container .btn {
    z-index: 500;
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid pink;
    border-top: 8px solid pink;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 8px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all 2s;
    padding-bottom: 10px;
  }
  
  #slider-container #slider .slide {
    /* height: 90%; */
    margin: auto 10px;
    transition: filter var(--tiempo-t-1), transform var(--tiempo-t-3);
  }

  #slider-container #slider:first-child{
    margin: auto 10px auto 0px;
  }
  
  .mov-izquierda{
    transform: skew(-15deg);
  }
  .mov-derecha{
    transform: skew(15deg);
  }
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(1.9% - 24px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }