@import "style.css";

header{
    top: 0;
    position: sticky;
    background-color: var(--color-principal);
    height: fit-content;
    padding: 6px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header div div *{
    margin-right: 17px;
}

header:first-child :last-child :last-child{
    margin-right: 0;
}

header div.menu-container{
    padding: 15px 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
header div.menu-container *{
    max-height: 40px;
}

.categorias{
    position: absolute;
    top: 125px;
    left: -100%;
    transition: all 0.5s ease-in-out;
}

.menu-usuario{
    position: absolute;
    top: 125px;
    right: -100%;
    transition: all 0.5s ease-in-out;
}



nav.nav ul, div.nav ul{
    list-style: none;
    background-color: var(--color-principal);
    width: fit-content;
    padding: 10px 15px;
    height: fit-content;
    max-height: max-content;
}

nav ul li, div.nav ul li{
    padding: 7px;
}

nav ul li a, div.nav ul li a{
    text-decoration: none;
    color: var(--negro);
}

nav ul li:hover, div.nav ul li:hover{
    color: var(--color-principal);
    background-color: var(--color-secundario);
}

nav ul li:hover *, div.nav ul li:hover *{
    color: var(--color-principal);
    background-color: var(--color-secundario);
}
nav ul li *, div.nav ul li *{
    display: inline-block;
}

ul.nav-ul li i, nav.nav ul.nav-ul li i{
    margin: 0;
    min-width: 30px;
    text-align: center;
}

ul.nav-ul li i::before, nav.nav ul.nav-ul li i::before{
    height: 16px;
    width: 16px;
}

[class^="fa-"], [class*="fa-"] {
    display: inline-block;
}

nav ul li, div.nav ul li{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: baseline;
}

.menu-logo div.fas{
    font-size: 40px;
}


.logo h1{
    font-family: Rokkitt;
    margin-left: -3px;
}

.logo *{
    margin: 0;
    padding: 0;
}



.barra-busqueda{
    width: 100%; 
    height: 40px;
    position: relative; 
    background-color: var(--secundario-t-1);
    border-radius: 40px;
    margin-top: 15px;
}

.barra-busqueda input[type=text]{
    width: 85%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px 12px 40px;
}

.barra-busqueda input[type=text]:focus{
    outline: none;
}

.barra-busqueda input::placeholder{
    color: var(--fuente-oscura);
}

.barra-busqueda img{
    height: 20px;
}

.carrito-biblioteca-cuenta img:nth-child(3){
    display: none;
}


.mostrar-categorias{
    left: 0;
}

.mostrar-menu-usuario{
    right: 0;
    margin: 0;
}


@media only screen and (min-width: 768px) {
    header{
        height: fit-content;
    }


    .categorias{
        top: 70px;
    }
    
    .menu-usuario{
        top: 70px;
    }

    .barra-busqueda{
        margin-top: 0;
    }


    div.menu-container{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #panel-der{
        order: 1;
    }
    #panel-izq{
        order: 3;
    }
    #b-busqueda{
        order: 2;
        max-width: 50%;
    }
}