:root {
    --color-principal: #FF9A48;
    --color-secundario: #6A4536;
    --negro: #000;
    --secundario-t-1: rgba(106, 69, 54, 0.37);
    --fuente-oscura: #272727;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    width: 100%;
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    height: 1800px;
    overflow: hidden;
}
